.trivia-container {
    text-align: center;
    padding: 20px;
}

.score-container {
    margin-top: 50px;
}

.question-container {
    margin-top: 50px;
}

.question-text {
    margin-bottom: 20px;
    text-align: center; /* Center the question text */
}

.answer-error {
    color: red;
    margin-bottom: 10px;
}

.answers-list {
    list-style: none;
    padding: 0;
}

.answer-item {
    margin-bottom: 10px;
}

.answer-button {
    display: block; /* Make the button full width */
    width: 100%; /* Make the button full width */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-button:hover {
    background-color: #0056b3;
}

.answer-button.selected {
    background-color: #28a745; /* Change background color for selected answer */
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #218838;
}

.restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restart-button:hover {
    background-color: #c82333;
}
